{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
  <a href= "/admin/" class="corner-button">Для администраторов</a>

  <div class="auth-container">
    <h2>Регистрация</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="{% url 'login' %}" class="btn-link">Вход</a>
  </div>
</body>
</html>

